@{
    ViewData["Title"] = "Create Prize";
}


<div class="center-contents" style="width:400px" id="_info-add">
    <h1 class="_title">Create Prize</h1>
    <br />
    <div class="box">
        <p>
            <div style="border:1px solid #ccc; padding:10px;" id="_info-form">
                <p>
                    <label for="PlaceNumber">Place Number</label>
                    <input name="PlaceNumber" />
                </p>
                <p>
                    <label for="PlaceName">Place Name</label>
                    <input name="PlaceName" />
                </p>
                <p>
                    <label for="PrizeAmount">Prize Amount</label>
                    <input name="PrizeAmount" />
                </p>
                <div style="text-align:center"><strong>~ or ~</strong></div>
                <p>
                    <label for="PrizePercentage">Prize Percentage</label>
                    <input name="PrizePercentage" />
                </p>
                <p><button type="button" style="margin:10px auto">Create Prize</button></p>
            </div>
        </p>
    </div>
</div>