@{
    ViewData["Title"] = "Dashboard";
}


<div class="center-contents" style="width:400px" id="_info-add">
    <h2 class="_title">Tournament Dashboard</h2>
    <br />
    <div class="box">
        <p>
            <div style="border:1px solid #ccc; padding:10px;" id="_info-form">
                <p>
                    <div><strong>Load Existing Tournament</strong></div>
                    <select name="ExistingTournaments" style="width:100%">
                        <option value="">~Select Tournament~</option>
                    </select>
                    <div>
                        <button type="button" style="margin:10px auto">Load Tournament</button>
                    </div>
                <p>
                <p><button type="button" style="margin:10px auto">Create Tournament</button></p>
            </div>
        </p>
    </div>
</div>
